PORT=3000
DB_HOST={{ 'host.docker.internal' if groups['app'][0] == groups['proxy'][0] else (hostvars[groups['proxy'][0]].private_ip | default(hostvars[groups['proxy'][0]].ansible_host)) }}
DB_PORT=6033
DB_USER={{ mysql_app_user }}
DB_PASSWORD={{ mysql_app_password }}
DB_NAME={{ mysql_database }}
DB_SSL_CA_PATH=/certs/ca.pem
DB_SSL_REJECT_UNAUTHORIZED=false
