[defaults]
inventory = inventory/hosts.ini
roles_path = roles
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = yaml
timeout = 30
forks = 20

[ssh_connection]
pipelining = True
